* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
   font-size: 62.5%;
}

html, body, input {
  font-family: 'Mulish', 'Sans-serif';
}

#app {
  display: grid;
  height: 100vh;
}

body {
  font-size: 1.6rem;

  --color-base-greensstrong: #065E7C;
  --color-base-greencontent: #387E96;
}

header,
nav {
  display: flex;
  align-items: center;
  background-color: var(--color-base-greensstrong);
  gap: 2.5rem;
  height: 7.2rem;
}

.logo, .avatar {
  width: 4.0rem;
  height: 4.0rem;
  object-fit: cover;
  border-radius: 50%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem;
  border-radius: .4rem;
  background-color: var(--color-base-greencontent);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: #FFF;
}

header form {
  flex: 1;
}

.container {
  padding: 1.2rem 2.8rem;
}

main {
  max-width: 38.2rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

main #img {
  width: 100%;
  margin-bottom: 3.2rem;
}

main h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

main #insidecontent{
 margin-left: 2.2rem;
}

main #articlecontent {
  padding: 3.1rem 2.6rem 3.4rem 2.2rem;
}

button {
  background: var(--color-base-greensstrong);
  padding: 1.2rem;
  border: 0;
  border-radius: 50%;
  align-items: center;
}

.sidebar h2 {
  padding-bottom: 3.2rem;
  margin-left: 2.2rem;
}

.sidebar-content {
  display: flex;
  flex-direction: row;
  height: 8.4rem;
  margin-bottom: 3.2rem;
  margin-left: 2.2rem;
  box-sizing: border-box;
}

#details  {
  font-size: 1.4rem;
  padding-left: 1.6rem;
}


footer {
  height: 3.2rem;
}

footer p {
  text-align: center;
  background-color: var(--color-base-greencontent);
  color: #FFF;
  padding: 2rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .container {
      padding: 1.2rem 11.8rem;
  }
  
  main {
    flex-direction: row;
    max-width: 100%;
    flex: 1;
    padding-left: 1.5rem;
    margin-top: 4.0rem;
    background-color: lightblue;
  }

  main > div {
    flex: 1;
  }

  .sidebar {
    max-width: 38rem;
  }

}